html 
head 
body 
    form(action='signup' method='POST')
        label(for='name') 
        input(type='text' id='name' name='name' placeholder='Enter your name...')
        label(for='email')
        input(type='email' id='email' name='email' placeholder='Enter email...')
        label(for='password') 
        input(type='password' id='password' name='password' placeholder='Enter password...')
        button Submit
